<body>
    <div class="card">
        <ng-container>
            <img src="/assets/generic-profile-pic.jpg" alt="John" style="width:100%">
        </ng-container>
        <!-- readonly -->
        <ng-container *ngIf="!isEditMode">
            <form class="profile-readonly" >              
                <div>
                    <h3>Username: {{profileDetails.username}}</h3>                 
                </div>
                <div>
                    <p class="email">Email: {{profileDetails.email}}</p>
                    
                </div>
                <p>Addicted Reader</p>
        <button class="editButton" (click)="toggleEditMode()">Edit</button>
        <button routerLink="/profile/my-books">My Books</button>
        
    </form>
        </ng-container>
        <!-- edit -->
        <ng-container *ngIf="isEditMode">
        <form class="profile" [formGroup]="form" (ngSubmit)="saveProfileHandler()">
            <div>
                <h3>Username: <input type="text" id="username" name="username" formControlName="username" > </h3>
            </div>
            <div>
                <p class="email">Email: <input type="text" id="email" name="email" formControlName="email"></p> 
            </div>
        <p>Addicted Reader</p>
        <button class="saveButton">Save</button>
        
        </form>
        </ng-container>
    </div>

    
</body>
