<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div *ngIf="noBooks">
        <h2>There are no books.</h2>
    </div>
    
      
    <div *ngFor="let book of booksList" >
    <div class="bookCard">
        <div class="img-container">
            <a routerLink="book._id">
            <img src="{{ book.imageUrl }}" alt="Avatar" ></a>
        </div>
        <div class="container">
            <h3><b>{{ book.name }}</b></h3>
            <h4>Written by: {{ book.author }}</h4>
            <h5>Published: {{ book.year }}</h5>
            <div class="description">
                <p><b>Description:</b> {{book.description}}</p>
            </div>
        </div>
        <div class="details">
            <button routerLink="book._id">Details</button>
        </div>
    </div>
</div>
</body>
</html>
