<!-- <body>
<nav>
    <ul>
        <li>Home</li>
        <li routerLink="/login">Login </li>
        <li routerLink="/register">Register</li>
        <li>Logout</li>
        <li>Catalog</li>
        <li>About</li>
    </ul>
    <h1>BookClub</h1>
</nav>
</body> -->
<body>
    

<div class="topnav" id="myTopnav">
    <ul>
        <li class="active" routerLink="/home">Home</li>
        <li routerLink="/login">Login</li>
        <li routerLink="/register">Register</li>
        <li>Logout</li>
        <li routerLink="/profile">Profile</li>
        <li>Catalog</li>
        <li>About</li>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>  -->
        <h1>BookClub</h1>
    </ul>
  </div>
</body>