
<body>  
<div class="topnav" id="myTopnav">
    <ul>
        <li class="active" routerLink="/home">Home</li>
        <li routerLink="/catalog">Catalog</li>      
        <li routerLink="/about" >About</li>
    </ul>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>  -->
    <h1>BookClub</h1>
        <div class="ifAuth">
            <div>
                <ul *ngIf="!isLoggedIn">
                    <li routerLink="/login">Login</li>
                    <li routerLink="/register">Register</li>
                </ul>
            </div>
            <div>
                <ul *ngIf="isLoggedIn">
                    <li routerLink="/add-book">Add Book</li>
                    <li routerLink="/profile">Profile</li>
                    <li (click)="logout()">Logout</li>
                </ul>
            </div>
        </div>
    
  </div>
</body>