<!-- <div *ngIf="noUsers">
  <h2>There are no books.</h2>
</div>
<div *ngFor="let user of usersList" >
<div class="bookCard">
  </div>
  <div class="container">
      <h3><b>{{ user.email }}</b></h3>
      <h4>Written by: {{ user.firstName }}</h4>
      <h5>Published: {{ user.lastName }}</h5>
      
  </div>
</div> -->




<div class="login-page">
    <h1>Login</h1>

<form class="login" #form="ngForm" (ngSubmit)="login(form)">
  
  <div class="imgcontainer">
    <img src="assets/profile.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required #inputEmail="ngModel" ngModel [appEmail]="emailDomains">
    <ng-container *ngIf="inputEmail.touched">
		<p class = "error" *ngIf="inputEmail.errors?.['required']">Email is required</p>
		<p class = "error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid</p>
    </ng-container>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required #inputPassword="ngModel" ngModel>
	<ng-container *ngIf="inputPassword.touched">
		<p class = "error" *ngIf="inputPassword.errors?.['required']">Password is required</p>
		<!-- <p class = "error" >Password is not valid</p> --> 
	</ng-container>   

    <button [disabled]="form.invalid">Login</button>
  <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a routerLink="/register">You don't have an account?</a></span>
  </div>
</form>
</div> 
