
<div class="login-page">
    <h1>Login</h1>

<form class="login" #form="ngForm" (ngSubmit)="login(form)">
  
  <div class="imgcontainer">
    <img src="assets/profile.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required  ngModel #inputUsername="ngModel">
    <ng-container *ngIf="inputUsername.touched">
		<p class = "error" *ngIf="inputUsername.errors?.['required']">Username is required</p>
    </ng-container>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required ngModel #inputPassword="ngModel">
	<ng-container *ngIf="inputPassword.touched">
		<p class = "error" *ngIf="inputPassword.errors?.['required']">Password is required</p>
		<p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least
          {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
        </p>
	</ng-container>   

    <button [disabled]="form.invalid">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a routerLink="/register">You don't have an account?</a></span>
  </div>
</form>
</div> 
