
<div class="login-page">
  <h1>Add a New Book</h1>

<form class="login" >
  <!-- #form="ngForm" (ngSubmit)="addBook(form)" -->


<div class="container">
  <label for="bookName"><b>Book Title</b></label>
  <input type="text"  name="bookName" required  ngModel >
   
  <label for="author"><b>Author</b></label>
  <input type="text"  name="bookAuthor" required  ngModel >
  
  <label for="genre"><b>Genre</b></label>
  <input type="text"  name="bookGenre" required  ngModel >

  <label for="year"><b>Year</b></label>
  <input type="text"  name="bookYear" required  ngModel >

  <label for="imageUrl"><b>Image Url</b></label>
  <input type="text"  name="bookImageUrl" required  ngModel >
  
  <label for="description"><b>Description</b></label>
  <textarea name="bookDescription" required  ngModel></textarea>
  

  <button>Add</button>

</div>
</form>
</div>