<div class="bookCard" *ngIf="book">
                
    <div class="img-container">
        <a [routerLink]="book._id" class="normal"></a>
        <img src="{{ book.imageUrl }}" alt="Avatar" >
    </div>
    <div class="container">
        <h3><b>{{ book.name }}</b></h3>
        <h4>Written by: {{ book.author }}</h4>
        <h5>Published: {{ book.year }}</h5>
        <div class="description">
            <p><b>Description:</b> {{book.description}}</p>
        </div>
        <div class="details">
            <button [routerLink]="book._id">Details</button>
        </div>
        <button class = "editButton">Edit</button>
        <button class = "deleteButton">Delete</button>
    </div>
    
</div>
