<div class ="register-page">
<form class="registerForm"  #form="ngForm" (ngSubmit)="register(form)">
    <div class="container">
        <div class="register-header">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
        </div>
      <hr>  
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required ngModel #inputEmail="ngModel">
        <ng-container *ngIf="inputEmail.touched">
        <p class = "error" *ngIf="inputEmail.errors?.['required']">Email is required</p>
        </ng-container>

        <label for="username"><b>Username</b></label>
          <input type="text"  name="username" id="username" required ngModel #inputUsername="ngModel">
          <ng-container *ngIf="inputUsername.touched">
            <p class = "error" *ngIf="inputUsername.errors?.['required']">Username is required</p>
          </ng-container>

    <label for="firstName"><b>First name</b></label>
    <input type="text" placeholder="Enter your first name" name="firstName" id="firstName" required  ngModel #inputFirstName="ngModel">
    <ng-container *ngIf="inputFirstName.touched">
      <p class = "error" *ngIf="inputFirstName.errors?.['required']">First name is required</p>
    </ng-container>

    <label for="lastName"><b>Last name</b></label>
    <input type="text" placeholder="Enter your last name" name="lastName" id="lastName" required  ngModel #inputLastName="ngModel">
    <ng-container *ngIf="inputLastName.touched">
      <p class = "error" *ngIf="inputLastName.errors?.['required']">Last name is required</p>
    </ng-container>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required  ngModel #inputPassword="ngModel">
        <ng-container *ngIf="inputPassword.touched">
          <p class = "error" *ngIf="inputPassword.errors?.['required']">Password is required</p>
        </ng-container>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required  ngModel #inputRepeatPassword="ngModel">
        <ng-container *ngIf="inputRepeatPassword.touched">
          <p class = "error" *ngIf="inputRepeatPassword.errors?.['required']">Repeat Password is required</p>
        </ng-container>

        <hr>
    
    
      <button class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>
  </form>
</div>
