<div class ="register-page">
<form class="registerForm"  #form="ngForm" (ngSubmit)="register(form)">
    <div class="container">
        <div class="register-header">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
        </div>
      <hr>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required #inputPassword="ngModel" ngModel>
    <ng-container>
        <!-- <p class="error" *ngIf="form.get('email')?.touched">Email is required!</p>
        <p class="error" *ngIf="form.get('email')?.errors?.['minLength']">Email is not valid!</p> -->
    </ng-container>

    <label for="firstName"><b>First name</b></label>
    <input type="text" placeholder="Enter your first name" name="firstName" id="firstName" required #inputPassword="ngModel" ngModel>
    <ng-container>
      <!-- <p class="error" *ngIf="form.get('firstName')?.touched">First name is required!</p> -->
      <!-- <p class="error" *ngIf="form.get('email')?.errors?.['minLength']">Email is not valid!</p> -->
    </ng-container>

    <label for="lastName"><b>Last name</b></label>
    <input type="text" placeholder="Enter your last name" name="lastName" id="lastName" required #inputPassword="ngModel" ngModel>
    <ng-container>
      <!-- <p class="error" *ngIf="form.get('lastName')?.touched">Last name is required!</p> -->
      <!-- <p class="error" *ngIf="form.get('email')?.errors?.['minLength']">Email is not valid!</p> -->
  </ng-container>
    <!-- <ng-container formGroupName="passGroup"> -->
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required #inputPassword="ngModel" ngModel>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required #inputPassword="ngModel" ngModel>

        <hr>
    <!-- </ng-container> -->
    
      <button class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>
  </form>
</div>
